* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  touch-action: none;
  height: 100%
}

:root {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#threeJS-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 1;
  overflow: hidden
}